* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro' , sans-serif;
	font-size: 15px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased; /*渲染網頁:讓文字更細*/
	-moz-font-smoothing: antialiased;
}

ul{
	margin: 0; /*預設清除*/
	padding-left: 0; /*預設清除*/
}

li {
	list-style-type: none; /*預設清除*/
}

/* Custom */
.img {
	display: block; /*預設清除 可解決qgpy類似底部突出*/
}

.container {
	display: block; /*容器置中-1*/
	width: 1170px; /*整體寬度*/
	margin: 0 auto; /*容器置中-2*/
}


.button {
	display: inline-block;
	margin-top: 30px;
	padding: 15px 30px;
	background: #fff;
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.button.bordered {
	border: 1px solid black;
}

.clearfix:after { /*clearfix公版*/
	content: "";
	display: table;
	clear: both;
}

.row {
	margin: 0 -10px;
}

.col-4, .col-6 {
	float: left;
	padding: 0 10px;
}

.col-4 {
	width: 33.3333%;
}

.col-6 {
	width: 50%;
}

#logo {
	float: left; /*讓LOGO靠左*/
}

#nav {
	float: right; /*讓選單靠右*/
	text-transform: uppercase; /*英文大寫 lowercase小寫 capitalize字首大寫*/
	line-height: 100px; /*因LOGO高度為100*/
}

#nav li {
	float: left;
}

#nav a{
	padding: 0 12px;
	color: #333; /*選單顏色*/
	text-decoration: none; /*清除底線*/
	font-size: 13px;
}

#nav .active a {
	color: #d6b161;
}

.boundary:after { /*在boundary之後...*/
	content: "|";
	padding: 0 12px;
}

/*content*/

#content > div {
	padding-top: 100px;
}

#content > div:first-child { /*content第一個div(slider上面)*/
	padding-top: 0;
}

#content > hr {
	margin: 0;
	border-top: 1px solid #eee;
}

.slider img {
	width: 100%; /*和容器一樣寬*/
	height: auto;
}

.intro {
	text-align: center;
	margin-bottom: 100px;
}

.intro h2 {
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px; /*字的左右間距*/
	color: #333;
	font-weight: normal;
}

.intro hr {
	width: 60px;
	margin: 0 auto;
	height: 2px;
	background-color: #595959;
	border: none;
}

.intro p {
	color: #7e7e7e;
}

/*catogory*/

.category {
	position: relative;
	margin-bottom: 20px;
}

.category img {
	width: 100%;
	height: auto;
}

.category .title {
	position: absolute;
	top: 35%;
	right: 10%;
	color: #222;
	text-transform: uppercase;
	font-size: 24px;
	text-align: right;
	font-weight: 300;
}

.category .title.dark {
	color: #222;
}

.category .title.light {
	color: #fff;
}

.product .info {
	padding: 15px 0;
	text-align: center;
}

.product .title {
	margin: 0;
}

.product .title a {
	color: #222;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

.product .price {
	color: #7e7e7e;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 30px;
}

.thumbnail {
	position: relative;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.thumbnail .cover { /*放大鏡Cover*/
	position: absolute;
	background: rgba(255,255,255,0.9);
	border: 20px solid rgba(0,0,0,.1);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	opacity: 0; /*透明度*/

	transition: all/*對全部*/ 0.5s/*多少時間*/;  /*Css3漸變效果*/
}

.thumbnail .cover:hover {
	opacity: 1;
}

.thumbnail .cover a {
	position: absolute;
	color: #333;
	text-decoration: none;
	top: 45%;
}

.event {
	padding: 150px 0; /*上下150 左右0*/
	background-image: url(http://lorempixel.com/1920/1080);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%; /*讓圖上下左右置中*/
	background-attachment: fixed; /*讓背景圖不會跟著滾輪移動*/
}

.event .title, .event .subtitle {
	margin: 0;
	color: #fff;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.5; /*行高*/
}

.event .title {
	font-size: 70px;
}

.event .subtitle {
	font-size: 24px;
}

.featured {
	padding-bottom: 100px;
}

.featured img {
	width: 100%;
	height: auto;
}

.featured .info {
	text-align: center;
	margin-top: 70px;
}

.featured .info .title, .featured .info .name {
	text-transform: uppercase;
}

.featured .info .title, .featured .info .price {
	color: #d6b161;
}

.featured .info .name {
	margin: 0; 
	font-weight: normal;
	margin-bottom: 10px;
}

 .featured .info .price {
 	font-size: 26px;
 	font-weight: 100;
 }

.featured .col-6 {
	padding: 0 30px;
}

.featured .info p {
	margin: 0;
	margin-bottom: 30px;
	padding-top: 30px;
}

.outlet {
	padding-bottom: 100px;
}

.outlet h3 {
	margin: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.outlet .info {
	color: #7e7e7e;
	line-height: 30px;
}

.outlet .info a {
	color: #7e7e7e;
	text-decoration: none;
}

.outlet .map a{
	color: #d6b161;
	text-decoration: none;
	text-transform: uppercase;
}


/* FOOTER */

#footer {
	position: relative;
	background: #f5f5f5;
	padding: 80px 0;
}

#footer .logo {
	position: absolute; /*方便調味置*/
	border: 5px solid #f5f5f5;
	padding: 20px;
	background: #fff;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);  /*Css3*/
}

#footer .copyright {
	float: left;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#footer .copyright .subtitle {
	font-size: 12px;
	color: #323232;
}

#footer .social-media {
	float: right;
}

#footer .social-media li {
	float: left;
}

#footer .social-media a {
	display: inline-block;  /*因為a是inline元素，不能設定寬跟高*/
	margin: 10px;
	border: 1px solid #222;
	-webkit-border-radius: 20px; /*Css3:讓方寬變圓形*/
	-moz-border-radius: 20px; /*Css3:讓方寬變圓形*/
	width: 40px;
	height: 40px;
	color: #222;
	line-height: 40px; /*跟高一樣就能上下置中*/
	text-align: center;
	text-decoration: none;
}

#go-top {
	position: fixed;
	right: 20px;
	bottom: 35px;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,.6);
	color: #fff;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}